.vscode/launch.json
.vscode/tasks.json
obj/13.csproj.nuget.dgspec.json
obj/13.csproj.nuget.g.props
obj/13.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/13.AssemblyInfo.cs
obj/Debug/net6.0/13.AssemblyInfoInputs.cache
obj/Debug/net6.0/13.assets.cache
obj/Debug/net6.0/13.csproj.AssemblyReference.cache
obj/Debug/net6.0/13.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/13.GlobalUsings.g.cs
13.csproj
